html, body {
    margin: 0;
    padding: 0;
    background: rgb(115, 82, 205);
  }
  canvas {
    display: block;
    margin: auto;
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
  }